<a href="https://colab.research.google.com/github/mittali01/Mittali-Sharma/blob/main/DS_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
#reading data from csv
df=pd.read_csv('/content/drive/MyDrive/indian_liver_patient.csv')
df.head(10)

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65  Female              0.7  ...      3.3                        0.90        1
1   62    Male             10.9  ...      3.2                        0.74        1
2   62    Male              7.3  ...      3.3                        0.89        1
3   58    Male              1.0  ...      3.4                        1.00        1
4   72    Male              3.9  ...      2.4                        0.40        1
5   46    Male              1.8  ...      4.4                        1.30        1
6   26  Female              0.9  ...      3.5                        1.00        1
7   29  Female              0.9  ...      3.6                        1.10        1
8   17    Male              0.9  ...      4.1                        1.20        2
9   55    Male              0.7  ...      3.4                        1.00        1

[10 rows x 11 columns]

Indexing and selecting data

In [8]:
#indexing and selecting data
indexing=df[3:8]
indexing

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
3   58    Male              1.0  ...      3.4                         1.0        1
4   72    Male              3.9  ...      2.4                         0.4        1
5   46    Male              1.8  ...      4.4                         1.3        1
6   26  Female              0.9  ...      3.5                         1.0        1
7   29  Female              0.9  ...      3.6                         1.1        1

[5 rows x 11 columns]

Checking attributes of data

In [9]:
#attributes of data
df.columns

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')

In [10]:
df['Gender']

0      Female
1        Male
2        Male
3        Male
4        Male
        ...
578      Male
579      Male
580      Male
581      Male
582      Male
Name: Gender, Length: 583, dtype: object

In [11]:
df.loc[1:5, ['Age', 'Gender']]

   Age Gender
1   62   Male
2   62   Male
3   58   Male
4   72   Male
5   46   Male

In [12]:
df['Total_Bilirubin'].mean()

3.298799313893652

In [15]:
df[df['Alamine_Aminotransferase']>=60 ]

     Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
1     62    Male             10.9  ...      3.2                        0.74        1
2     62    Male              7.3  ...      3.3                        0.89        1
12    64    Male              0.9  ...      3.4                        0.90        2
15    25    Male              0.6  ...      2.3                        0.70        2
16    38    Male              1.8  ...      4.4                        1.30        1
..   ...     ...              ...  ...      ...                         ...      ...
561   66    Male             16.6  ...      2.0                        0.40        1
562   66    Male             17.3  ...      2.6                        0.50        1
568   20  Female             16.7  ...      3.5                        1.02        1
569   16    Male              7.7  ...      4.0                        1.20        1
570   16    Male              2.6  ...      2.6                        0.90        1

[153 rows x 11 columns]

Sort Data

In [16]:
#sort data
df.sort_values('Age')

     Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
271    4    Male              0.8  ...      3.2                         0.9        2
265    4    Male              0.9  ...      4.0                         1.0        2
218    6    Male              0.6  ...      2.0                         0.7        2
480    7    Male              0.5  ...      4.2                         1.1        2
199    7  Female             27.2  ...      2.0                         0.4        1
..   ...     ...              ...  ...      ...                         ...      ...
391   75    Male              0.9  ...      3.7                         1.1        1
397   78    Male              1.0  ...      3.1                         0.9        1
29    84  Female              0.7  ...      3.2                         1.1        2
44    85  Female              1.0  ...      3.6                         1.0        2
571   90    Male              1.1  ...      3.0                         0.7        1

[583 rows x 11 columns]

Checking Datatypes of columns

In [17]:
#check data types of columnss
df.dtypes

Age                             int64
Gender                         object
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase            int64
Alamine_Aminotransferase        int64
Aspartate_Aminotransferase      int64
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Dataset                         int64
dtype: object

Unique values count

In [18]:
#counting unique values of data in each column

df['Age'].unique()

array([65, 62, 58, 72, 46, 26, 29, 17, 55, 57, 64, 74, 61, 25, 38, 33, 40,
       51, 63, 34, 20, 84, 52, 30, 48, 47, 45, 42, 50, 85, 35, 21, 32, 31,
       54, 37, 66, 60, 19, 75, 68, 70, 49, 14, 13, 18, 39, 27, 36, 24, 28,
       53, 15, 56, 44, 41,  7, 22,  8,  6,  4, 43, 23, 12, 69, 16, 78, 11,
       73, 67, 10, 90])

In [20]:
before= df.dtypes
before

Age                             int64
Gender                         object
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase            int64
Alamine_Aminotransferase        int64
Aspartate_Aminotransferase      int64
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Dataset                         int64
dtype: object

Converting Datatypes

In [21]:
#converting data types 
df['Age']=df['Age'].astype(str)
after=df.dtypes
after

Age                            object
Gender                         object
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase            int64
Alamine_Aminotransferase        int64
Aspartate_Aminotransferase      int64
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Dataset                         int64
dtype: object

Querying a Dataframe

In [22]:
#querying a dataframe
above_60 = df.where(df['Alamine_Aminotransferase']>=60)
above_60['Alamine_Aminotransferase'].count()

153

In [23]:
#group_by
grouping=df.groupby('Gender')
grouping['Total_Protiens'].mean()

Gender
Female    6.653521
Male      6.428345
Name: Total_Protiens, dtype: float64

Check null values and if exist, replace

In [28]:
#checking null values
df['Gender'].isnull().sum()

0

In [25]:
df.isnull().sum()

#4 null values are present in this database (Albumin_and_Globulin_Ratio colunmn)

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [30]:
#Since Albumin_and_Globulin_Ratio has 4 null values then we replace them by the median as shown below

replace_median = df['Albumin_and_Globulin_Ratio'].median()
replace_median

0.93

In [31]:
df

    Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0    65  Female              0.7  ...      3.3                        0.90        1
1    62    Male             10.9  ...      3.2                        0.74        1
2    62    Male              7.3  ...      3.3                        0.89        1
3    58    Male              1.0  ...      3.4                        1.00        1
4    72    Male              3.9  ...      2.4                        0.40        1
..   ..     ...              ...  ...      ...                         ...      ...
578  60    Male              0.5  ...      1.6                        0.37        2
579  40    Male              0.6  ...      3.2                        1.10        1
580  52    Male              0.8  ...      3.2                        1.00        1
581  31    Male              1.3  ...      3.4                        1.00        1
582  38    Male              1.0  ...      4.4                        1.50        2

[583 rows x 11 columns]